bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Phase3Databases/.idea/discord.xml
/.idea/.idea.Phase3Databases/.idea/encodings.xml
/.idea/.idea.Phase3Databases/.idea/indexLayout.xml
/.idea/.idea.Phase3Databases/.idea/misc.xml
/.idea/.idea.Phase3Databases/.idea/vcs.xml
